/* Header */
.header {
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: 30% auto 25%;
  align-items: center;
  background: linear-gradient(
    0deg,
    rgba(25, 24, 24, 0.28925073447347693) 0%,
    rgba(25, 24, 24, 0.6197829473586309) 24%
  );
  color: white;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 1px;
  position: fixed;
}
.header a {
  transition: color 0.3s;
}
.header a:visited {
  color: white;
}
.header a:hover {
  color: #4abf4f;
}
.header__logo {
  display: inherit;
  justify-items: center;
}
.header__logo-img {
  width: 150px;
}
.header__menu {
  display: inherit;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  grid-gap: 20px;
}
.header__menu-item {
  display: inherit;
  text-transform: uppercase;
}
.burguer-button {
  font-size: 22px;
  display: none;
}
.burguer-button:hover {
  cursor: pointer;
}
.header__login {
  display: inherit;
  grid-template-columns: 150px 150px;
  align-items: center;
  justify-content: start;
}
.header__login-link {
  justify-self: right;
  padding-right: 30px;
  text-transform: uppercase;
}
.header__login-demo {
  width: 130px;
  height: 42px;
  border-radius: 25px;
  border-style: none;
  background-color: #4abf4f;
  transition: background-color 0.3s;
  color: white;
  justify-self: left;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}
.header__login-demo:hover {
  background-color: rgb(100, 219, 64);
  cursor: pointer;
}

