/* Main */
.main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.main__form {
  width: 40%;
  height: 1300px;
  display: inherit;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  background-color: rgb(255, 255, 255);
  margin-top: 100px;
  padding: 70px;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.24);
}
.main__form-title {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 15px;
  font-weight: bold;
  grid-column: 1 / span 2;
}
.main__form-item {
  display: grid;
  grid-template: 1fr 1fr / 1fr;
  color: rgba(0, 0, 0, 0.678);
  margin-top: 20px;
}
.main__form-item label {
  margin-bottom: 5px;
}
.main__form-item input {
  height: 30px;
  padding: 5px;
  width: 90%;
  font-family: inherit;
  font-size: inherit;
  border: 1.2px solid rgba(0, 0, 0, 0.103);
}
.main__form-item select {
  height: 41px;
  padding: 5px;
  width: 95%;
  font-family: inherit;
  font-size: inherit;
  border: 1.2px solid rgba(0, 0, 0, 0.103);
}
.item--long {
  grid-column: 1 / span 2;
}
.item--long input {
  width: 95%;
}
.item--long select {
  width: 98%;
}
.item--long textarea {
  width: 95%;
  font-family: inherit;
  font-size: inherit;
  padding: 10px;
  line-height: 2em;
  border: 1.2px solid rgba(0, 0, 0, 0.103);
}
.main__form-submit {
  width: 130px;
  height: 55px;
  margin-top: 20px;
  border-radius: 30px;
  border-style: none;
  background-color: #4abf4f;
  transition: background-color 0.1s;
  color: white;
  border: 2px solid #4abf4f;
  justify-self: left;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
}
.main__form-submit:hover {
  background-color: white;
  color: #4abf4f;
  cursor: pointer;
}
