* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgba(255, 255, 255, 0.782);
    font-family: 'Roboto' ;
}

fieldset {
    border: 0;
}

/* Header */
.header {
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 30% auto 30%;
    align-items: center;
    background: rgb(25,24,24);
    background: linear-gradient(0deg, rgba(25,24,24,0.28925073447347693) 0%, rgba(25,24,24,0.6197829473586309) 24%);
    color: white;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
}
.header a {
    transition: color 0.3s;
}
.header a:visited {
    color: white;
}
.header a:hover {
    color: #4abf4f;
}
.header__logo {
    display: inherit;
    justify-items: center;
}
.header__logo-img {
    width: 150px;
}
.header__menu {
    display: inherit;
    grid-template-columns: repeat(6, auto);
    justify-content: center;
    grid-gap: 40px;
}
.header__menu-item {
    text-transform: uppercase;
}
.header__login {
    display: inherit;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    grid-gap: 40px;
}
.header__login-link {
    justify-self: right;
    text-transform: uppercase;
}
.header__login-demo {
    width: 130px;
    height: 42px;
    border-radius: 25px;
    border-style: none;
    background-color: #4abf4f;
    transition: background-color 0.3s;
    color: white;
    justify-self: left;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}
.header__login-demo:hover {
    background-color: rgb(100, 219, 64);
    cursor: pointer;
}

/* Main */
.main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

}
.main__form {
    width: 40%;
    height: 1300px;
    display: inherit;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    background-color: rgb(255, 255, 255);
    margin-top: 100px;
    padding: 70px;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.24);
}
.main__form-title {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 15px;
    font-weight: bold;
    grid-column: 1 / span 2;
}
.main__form-item {
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    color: rgba(0, 0, 0, 0.678);
    margin-top: 20px;
}
.main__form-item label {
    margin-bottom: 5px;
}
.main__form-item input {
    height: 30px;
    padding: 5px;
    width: 90%;
    font-family: inherit;
    font-size: inherit;
    border: 1.2px solid rgba(0, 0, 0, 0.103);
}
.main__form-item select {
    height: 41px;
    padding: 5px;
    width: 95%;
    font-family: inherit;
    font-size: inherit;
    border: 1.2px solid rgba(0, 0, 0, 0.103);
}
.item--long {
    grid-column: 1 / span 2;
}
.item--long input {
    width: 95%;
}
.item--long select {
    width: 98%;
}
.item--long textarea {
    width: 95%;
    font-family: inherit;
    font-size: inherit;
    padding: 10px;
    line-height: 2em;
    border: 1.2px solid rgba(0, 0, 0, 0.103);
}
.main__form-submit {
    width: 130px;
    height: 55px;
    margin-top: 20px;
    border-radius: 30px;
    border-style: none;
    background-color: #4abf4f;
    transition: background-color 0.1s;
    color: white;
    border: 2px solid #4abf4f;
    justify-self: left;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
}
.main__form-submit:hover {
    background-color: white;
    color: #4abf4f;
    cursor: pointer;
}

/* Footer */
.footer {
    display: grid;
    background-color: #e8ecef;
    margin-top: 100px;
    padding: 80px 150px 50px 150px;
    height: 700px;
    grid-template-rows: 50% 40% 10%;
}
.footer a {
    color: #15171ab9;
    transition: color 0.3s;
}
.footer a:visited {
    color: #15171ab9;
}
.footer a:hover {
    color: #4abf4f;
}
.footer__main {
    display: grid;
    grid-row: 1;
    grid-template-columns: 30% repeat(3, 1fr);
}
.footer__main-logo {
    grid-column: 1;
    display: inherit;
    align-content: start;
    color: #afb6c3;
    word-spacing: 0.2em;
    margin-right: 140px;
}
.footer__main-logo-icon {
    margin-bottom: 30px;
}
.footer__main-logo--bigtext {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.3em;
}
.footer__main-logo-smalltext {
    font-size: 12px;
    line-height: 1.5em;
}
.footer__main-options1 {
    display: inherit;
    align-content: start;
    grid-column: 2;
    align-content: space-between;
}
.footer__main-options2 {
    display: inherit;
    align-content: start;
    grid-column: 3;
    align-content: space-between;
}
.footer__main-options3 {
    display: inherit;
    align-content: start;
    grid-column: 4;
    align-content: start;
    grid-gap: 40px;
}
.footer__main-options-item {
    font-size: 18px;
    letter-spacing: 1px;
}
.item--bold {
    font-weight: bold;
    font-size: 20px;
    width: 90px;
    border-bottom: 1.3px solid rgba(0, 0, 0, 0.205);
    padding-bottom: 3px;
}
.footer__subscribe {
    display: inherit;
    grid-row: 2;
    align-content: center;
    justify-content: center;
}
.footer__subscribe-label {
    color: #15171ab9;
    font-size: 18px;
    margin-bottom: 10px;
}
.footer__subscribe-input-email {
    height: 60px;
    width: 250px;
    border-radius: 30px 0 0 30px;
    border: none;
    padding: 0 50px 0 20px;
    outline: none;
    font-family: inherit;
    font-size: 16px;
}
.footer__subscribe-input-button {
    width: 180px;
    height: 60px;
    border-radius: 30px;
    border-style: none;
    background-color: #4abf4f;
    transition: background-color 0.3s;
    color: white;
    justify-self: left;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    margin-left: -40px;
}
.footer__subscribe-input-button:hover {
    background-color: rgb(100, 219, 64);
    cursor: pointer;
}
.footer__links {
    display: inherit;
    grid-row: 3;
    grid-template-columns: 40% auto;
    align-items: center;
    justify-items: start;
}
.footer__links-social {
    grid-column: 1;
}
.footer__links-social img {
    height: 25px;
    margin-right: 20px;
}
.footer__links-site {
    grid-column: 2;
}
.footer__links-site-item {
    margin-right: 30px;
}