* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    width: auto;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../img/fonts/icomoon.eot?f5a6l7');
    src:  url('../img/fonts/icomoon.eot?f5a6l7#iefix') format('embedded-opentype'),
        url('../img/fonts/icomoon.ttf?f5a6l7') format('truetype'),
        url('../img/fonts/icomoon.woff?f5a6l7') format('woff'),
        url('../img/fonts/icomoon.svg?f5a6l7#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
    content: "\e9bd";
}


body {
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgba(255, 255, 255, 0.782);
    font-family: 'Roboto' ;
}

fieldset {
    border: 0;
}

/* Header */
.header {
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 30% auto 25%;
    align-items: center;
    background: linear-gradient(0deg, rgba(25,24,24,0.28925073447347693) 0%, rgba(25,24,24,0.6197829473586309) 24%);
    color: white;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
    position: fixed;
}
.header a {
    transition: color 0.3s;
}
.header a:visited {
    color: white;
}
.header a:hover {
    color: #4abf4f;
}
.header__logo {
    display: inherit;
    justify-items: center;
}
.header__logo-img {
    width: 150px;
}
.header__menu {
    display: inherit;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    grid-gap: 20px;
}
.header__menu-item {
    display: inherit;
    text-transform: uppercase;
}
.burguer-button {
    font-size: 22px;
    display: none;
}
.burguer-button:hover {
    cursor: pointer;
}
.header__login {
    display: inherit;
    grid-template-columns: 150px 150px;
    align-items: center;
    justify-content: start;
}
.header__login-link {
    justify-self: right;
    padding-right: 30px;
    text-transform: uppercase;
}
.header__login-demo {
    width: 130px;
    height: 42px;
    border-radius: 25px;
    border-style: none;
    background-color: #4abf4f;
    transition: background-color 0.3s;
    color: white;
    justify-self: left;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}
.header__login-demo:hover {
    background-color: rgb(100, 219, 64);
    cursor: pointer;
}

/* Main */
.main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

}
.main__form {
    width: 40%;
    height: 1300px;
    display: inherit;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    background-color: rgb(255, 255, 255);
    margin-top: 100px;
    padding: 70px;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.24);
}
.main__form-title {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 15px;
    font-weight: bold;
    grid-column: 1 / span 2;
}
.main__form-item {
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    color: rgba(0, 0, 0, 0.678);
    margin-top: 20px;
}
.main__form-item label {
    margin-bottom: 5px;
}
.main__form-item input {
    height: 30px;
    padding: 5px;
    width: 90%;
    font-family: inherit;
    font-size: inherit;
    border: 1.2px solid rgba(0, 0, 0, 0.103);
}
.main__form-item select {
    height: 41px;
    padding: 5px;
    width: 95%;
    font-family: inherit;
    font-size: inherit;
    border: 1.2px solid rgba(0, 0, 0, 0.103);
}
.item--long {
    grid-column: 1 / span 2;
}
.item--long input {
    width: 95%;
}
.item--long select {
    width: 98%;
}
.item--long textarea {
    width: 95%;
    font-family: inherit;
    font-size: inherit;
    padding: 10px;
    line-height: 2em;
    border: 1.2px solid rgba(0, 0, 0, 0.103);
}
.main__form-submit {
    width: 130px;
    height: 55px;
    margin-top: 20px;
    border-radius: 30px;
    border-style: none;
    background-color: #4abf4f;
    transition: background-color 0.1s;
    color: white;
    border: 2px solid #4abf4f;
    justify-self: left;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
}
.main__form-submit:hover {
    background-color: white;
    color: #4abf4f;
    cursor: pointer;
}

/* Footer */
.footer {
    display: grid;
    background-color: #e8ecef;
    margin-top: 100px;
    padding: 80px 150px 50px 150px;
    height: 700px;
    grid-template-rows: 50% 40% 10%;
}
.footer a {
    color: #15171ab9;
    transition: color 0.3s;
}
.footer a:visited {
    color: #15171ab9;
}
.footer a:hover {
    color: #4abf4f;
}
.footer__main {
    display: grid;
    grid-row: 1;
    grid-template-columns: 30% repeat(3, 1fr);
}
.footer__main-logo {
    grid-column: 1;
    display: inherit;
    align-content: start;
    color: #afb6c3;
    word-spacing: 0.2em;
    margin-right: 140px;
}
.footer__main-logo-icon {
    margin-bottom: 30px;
}
.footer__main-logo--bigtext {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.3em;
}
.footer__main-logo-smalltext {
    font-size: 12px;
    line-height: 1.5em;
}
.footer__main-options1 {
    display: inherit;
    align-content: start;
    grid-column: 2;
    align-content: space-between;
}
.footer__main-options2 {
    display: inherit;
    align-content: start;
    grid-column: 3;
    align-content: space-between;
}
.footer__main-options3 {
    display: inherit;
    align-content: start;
    grid-column: 4;
    grid-gap: 40px;
}
.footer__main-options-item {
    font-size: 18px;
    letter-spacing: 1px;
}
.item--bold {
    font-weight: bold;
    font-size: 20px;
    width: 90px;
    border-bottom: 1.3px solid rgba(0, 0, 0, 0.205);
    padding-bottom: 3px;
}
.footer__subscribe {
    display: inherit;
    grid-row: 2;
    align-content: center;
    justify-content: center;
}
.footer__subscribe-label {
    color: #15171ab9;
    font-size: 18px;
    margin-bottom: 10px;
}
.footer__subscribe-input-email {
    height: 60px;
    width: 250px;
    border-radius: 30px;
    border: none;
    padding: 0 60px 0 20px;
    outline: none;
    font-family: inherit;
    font-size: 16px;
}
.footer__subscribe-input-button {
    width: 180px;
    height: 60px;
    border-radius: 30px;
    border-style: none;
    background-color: #4abf4f;
    transition: background-color 0.3s;
    color: white;
    justify-self: left;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    margin-left: -50px;
}
.footer__subscribe-input-button:hover {
    background-color: rgb(100, 219, 64);
    cursor: pointer;
}
.footer__links {
    display: inherit;
    grid-row: 3;
    grid-template-columns: 30% auto;
    align-items: center;
    justify-items: start;
}
.footer__links-social {
    grid-column: 1;
}
.footer__links-social img {
    height: 25px;
    margin-right: 20px;
}
.footer__links-site {
    grid-column: 2;
}
.footer__links-site-item {
    margin-right: 30px;
}

/* Responsive */
@media screen and (max-width: 1200px) {
    /* Header */
    .header {
        height: 120px;
    }
    .header__menu {
        grid-template-columns: repeat(auto-fill, 100px);
    }
    .header__login {
        grid-template-columns: 100px 130px;
    }
    .header__login-link {
        justify-self: right;
        padding-right: 10px;
    }
    .header__login-demo {
        width: 130px;
        height: 42px;
        border-radius: 25px;
        border-style: none;
        background-color: #4abf4f;
        transition: background-color 0.3s;
        color: white;
        justify-self: left;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: bold;
    }
    /* Main */
    .main__form {
        width: 60%;
    }
    /* Footer */
    .footer {
        height: 900px;
        padding: 80px 100px 50px 100px;
        grid-template-rows: repeat(3, auto);
    }
    .footer__main {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 60% 40%;
        grid-template-rows: 65% 25%;
        height: 600px;
        }
    .footer__main-options1 {
        grid-column: 1;
    }
    .footer__main-options2 {
        grid-column: 2;
    }
    .footer__main-options3 {
        grid-column: 3;
    }
    .footer__main-logo {
        grid-row: 2;
        grid-column: span 3;
        grid-template-rows: 50px 40px;
        grid-template-columns: 70px 1fr;
        align-self: center;
        margin-top: 150px;
        width: 100%;
    }
    .footer__main-logo-icon {
        grid-column: 1;
    }
    .footer__main-logo--bigtext {
        grid-column: 2;
    }
    .footer__main-logo-smalltext {
        grid-row: 2;
        grid-column: span 2;
        align-self: end;
    }
}

@media screen and (max-width: 900px) {
    .header {
        position: fixed;
        grid-template-columns: 30% auto 200px;
        height: 70px;
    }
    .header__menu {
        grid-template-columns: auto;
        justify-content: end;
        grid-column: 3;
        grid-row: 1;
    }
    .header__menu-item {
        text-transform: uppercase;
        display: none;
    }
    .burguer-button {
        font-size: 22px;
        display: block;
    }
    .header__login-link {
        display: none;
    }
    .burguer-button {
        grid-column: 3;
        padding-right: 20px;
    }
    .header__login {
        grid-column: 3;
        grid-row: 1;
        justify-self: start;
    }
    .footer {
        height: 1000px;
    }
}

@media screen and (max-width: 768px) {
    .main__form {
        grid-template-columns: 1fr;
        height: 1500px;
    }
    .item--short {
        grid-column: 1 / span 2;
    }
    .footer {
        padding: 80px 20px 50px 50px;
    }
    .footer__links {
        grid-template-rows: 1fr 1fr;
    }
    .footer__links-site {
        grid-row: 1;
        grid-column: 1 / span 2;
    }
    .footer__links-social {
        grid-row: 2;
        grid-column: 1 / span 2;
    }
}

@media screen and (max-width: 680px) {
    .footer__subscribe-input {
        display: inherit;
        grid-template-rows: 1fr 1fr;
        grid-gap: 10px;
    }
    .footer__subscribe-input-email {
        grid-row: 1;
        padding: 0 20px 0 20px;
        width: 300px;
    }
    .footer__subscribe-input-button {
        grid-row: 2;
        margin-left: 0;
        width: 340px;
    }
}

@media screen and (max-width: 480px) {
    .footer {
        height: 1500px;
    }
    .footer__main {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 150px 50px;
        height: 800px;
    }
    .footer__main-options1 {
        grid-row: 1;
        grid-column: 1;
    }
    .footer__main-options2 {
        grid-row: 2;
        grid-column: 1;
    }
    .footer__main-options3 {
        grid-row: 3;
        grid-column: 1;
        grid-gap: 0;
    }
    .footer__main-logo {
        grid-row: 4;
        grid-column: 1;
        align-self: start;
    }
    .footer__main-options-item {
        margin-bottom: 20px;
    }
    .item--bold {
        margin: 30px 0;
    }
}

@media screen and (max-width: 420px) {
    .main__form {
        padding: 20px;
        width: 80%;
    }
    .footer {
        height: 1630px;
        padding: 80px 20px 50px 40px;
    }
    .footer__main {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 150px 50px;
        height: 800px;
    }
    .footer__main-logo {
        grid-gap: 20px;
    }
    .footer__subscribe-input-email {
        padding: 0 20px 0 20px;
        width: 250px;
    }
    .footer__subscribe-input-button {
        width: 290px;
    }
    .footer__links-site {
        display: inherit;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        font-size: 18px;
        grid-gap: 20px;
    }
    .footer__links-social img {
        margin-right: 50px;
    }
}

@media screen and (max-width: 375px) {
    .footer {
        height: 1630px;
        padding: 80px 20px 50px 20px;
    }
    .main__form {
        height: 1750px;
    }
    .footer__links-site-item {
        margin: 0;
        grid-gap: 30px;
    }
}
