/* Imports */
@import url(./header.css);
@import url(./main.css);
@import url(./footer.css);

/* Global Styles */
* {
  width: auto;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

@font-face {
  font-family: 'icomoon';
  src: url('../img/fonts/icomoon.eot?f5a6l7');
  src: url('../img/fonts/icomoon.eot?f5a6l7#iefix') format('embedded-opentype'),
    url('../img/fonts/icomoon.ttf?f5a6l7') format('truetype'),
    url('../img/fonts/icomoon.woff?f5a6l7') format('woff'),
    url('../img/fonts/icomoon.svg?f5a6l7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: '\e9bd';
}

body {
  font-family: 'Roboto';
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgba(255, 255, 255, 0.782);
}

fieldset {
	height: fit-content;
  border: 0;
}
